@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity!.IsAuthenticated)
{
     <div class="text-center">
        <h1 class="display-4">Welcome Employee @User.Identity!.Name</h1>
    </div>
}
else
{
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="d-flex align-items-center justify-content-center">
        <form method="post" class="w-25">
            <h1 class="h3 mb-3  fw-normal">Please enter employee ID</h1>

            <div class="form-floating">
                <input asp-for=@Model.EmployeeId type="text" autocomplete="off" class="form-control" placeholder="000" autofocus>
                <label asp-for=@Model.EmployeeId>ID</label>
                <span asp-validation-for="@Model.EmployeeId" class="text-danger"></span>
            </div>

            <button class="my-3 btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>   
    </div>
}
